<!-- definition  -->
<script type="text/javascript">
  RED.nodes.registerType("ac_config", {
    category: "config",
    defaults: {
      name: { value: "" },
      url: { value: "http://localhost:8000", required: true, validate: url => !!(url && url.match(/^https?:\/\//i)) },
      systemnumber: { value: "", required: true, validate: sn => !!(sn && sn.match(/^\d\d$/)) }
    },
    credentials: { // should match ac_config_node.ts
      authorization: { type: "password" },
      username: { type: "text" },
      password: { type: "password" }
    },
    inputs: 1,
    outputs: 1,
    label: function () {
      return this.name || "ac_config";
    }
  });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="ac_config">
  <div class="form-row">
    <label for="node-config-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-config-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-config-input-url"><i class="fa fa-tag"></i>URL</label>
    <input type="text" id="node-config-input-url" />
  </div>
  <div class="form-row">
    <label for="node-config-input-systemnumber"><i class="fa fa-tag"></i>System number</label>
    <input type="text" id="node-config-input-systemnumber">
  </div>
  <div class="form-row">
    <label for="node-config-input-username"><i class="fa fa-tag"></i>User Name</label>
    <input type="text" id="node-config-input-username" />
  </div>
  <div class="form-row">
    <label for="node-config-input-password"><i class="fa fa-tag"></i>Password</label>
    <input type="password" id="node-config-input-password" />
  </div>
  <div class="form-row">
    <label for="node-config-input-authorization"> <i class="fa fa-tag"></i>Authorization</label > 
    <input type="password" id="node-config-input-authorization" />
  </div>
</script>
<!-- help text -->
<script type="text/html" data-help-name="ac_config">
  <p>
    Stores the shared configuration parameters for ActiveControl nodes
  </p>
</script>