<!-- definition  -->
<script type="text/javascript">
    RED.nodes.registerType("task-analysis", {
        category: "ActiveControl",
        color: "#a6bbcf",
        defaults: {
            name: { value: "" },
            activecontrol: { type: "ac_config", required: true },
          maxLines: { value: "10" },
            maxWaitResults: { value: "60", validate: x => x.match(/^\d*$/) }
        },
        icon: "font-awesome/fa-file-text",
        inputs: 1,
        outputs: 1,
        label: function () {
            return this.name || "AC: Task Analysis";
        }
    });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="task-analysis">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-maxLines"><i class="fa fa-tag"></i> Wait outcome up to (seconds):</label>
    <input type="text" id="node-input-maxLines" placeholder="60" />
  </div>
  <div class="form-row">
    <label for="node-input-maxWaitResults"><i class="fa fa-tag"></i> Wait outcome up to (seconds):</label>
    <input type="text" id="node-input-maxWaitResults" placeholder="60" />
  </div>
  <div class="form-row">
    <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
    <input type="text" id="node-input-activecontrol">
  </div>
</script>
<!-- help text -->
<script type="text/html" data-help-name="task-analysis">
<p>This Node has 2 functions:
    <ul>
        <li>Start an Activecontrol analysis</li>
        <li>Read the status and outcome of an analysis.</li>
</p>
<p>Configuration must be stored in a separate node.</p>
<h3>Inputs</h3>
<dl class="message-properties">
  <dt>payload<span class="property-type">object</span></dt>
  <dd>Request to either start a new analysis or read an old result</dd>
  <dt>maxLines<span class="property-type">string</span></dt>
  <dd>Max number of lines in results. Override node configuration</dd>
  <dt>maxWaitResults<span class="property-type">string</span></dt>
  <dd>Max time in seconds to wait for results. Override node configuration</dd>
  <dt>url<span class="property-type">string</span></dt>
  <dt>systemnumber<span class="property-type">string</span></dt>
  <dt>username<span class="property-type">string</span></dt>
  <dt>password<span class="property-type">string</span></dt>
  <dt>authorization<span class="property-type">string</span></dt>
  <dd>will override the default basic authentication</dd>
</dl>
<h3>Outputs</h3>
<dl class="message-properties">
  <dt>payload
      <span class="property-type">string | buffer</span>
  </dt>
</dl>
<h3>Description</h3>
<p>Can be used to read existing analysis results or start a new analysis</p>
To read an analysis input will look like:
<pre><code class="lang-json">
{
    "XAnalysisId": "10017102000000002001",
    "XMaxlines": "10"
}

</code></pre>
to start a new one (leave transport list empty to test all transports in a task):
<pre><code class="lang-json">
{
    "XTaskid": "10017102000000002000",
    "XTarget": "0001",
    "XLocation": "O",
    "XAnltypeid": "",
    "XtRequest": ["FOOK910001"]
}  
</code></pre>
<h2 id="return-values">Return values</h2>
<p>On failure throws an exception, on success returns a message payload, which format depends on request</p>
<p>when a new analysis is started and wait time is set to 0, payload looks like:</p>
<pre style=""><code class="lang-json">
{
  "YAnalysisId": "10017102000000002001",
  "YReturn": {
      "Msgtyp": "",
      "Msgid": "",
      "Msgnum": "000",
      "Message": "",
      "Msgv1": "",
      "Msgv2": "",
      "Msgv3": "",
      "Msgv4": "",
      "Exception": ""
  }
}</code></pre>
<p>when reading an old analysis or starting a new one with wait time not set to 0, payload looks like:</p>
<pre style=""><code class="lang-json">
  {
    "analysisId": "10017102000000002001",
    "hasErrors": true,
    "isRunning": false,
    "status": [
        {
            "Anltypeid": "0031",
            "Description": "Sequence: Overtake and Regression",
            "Startdate": "2021-01-26",
            "Starttime": "11:09:03",
            "HasProgress": true,
            "Curnum": 1,
            "Total": 1,
            "Status": "F",
            "Errors": 1
        }
    ],
    "resultGroups": [
        {
            "group": "0000000001",
            "headerText": "1 error detected",
            "description": "Some issue detail",
            "columns": [
                {
                    "COLUMNID": "0000000001",
                    "COLUMNNAME": "Request ID",
                    "COLUMNTYPE": "Request ID",
                    "COLUMNWIDTH": "0000000030"
                },
                {
                    "COLUMNID": "0000000002",
                    "COLUMNNAME": "Short Description",
                    "COLUMNTYPE": "Short Description",
                    "COLUMNWIDTH": 33
                }
            ],
            "results": [
                {
                    "Request ID": "FOOK910001",
                    "Short Description": "Transport short text",
                }
            ]
        },
    ],
    "conflicts": [
        {
            "Strkorr": "FOOK910001",
            "Reason": "02",
            "Trkorr": "FOOK910002",
            "Reldate": "1900-01-01",
            "Reltime": "09:56:15",
            "AllowConfirm": true,
            "AllowAdminConf": true,
            "AllowImport": true
        }
    ]
}</code></pre>

</script>