<!-- definition  -->
<script type="text/javascript">
    RED.nodes.registerType("approve-task", {
        category: "ActiveControl",
        color: "#a6bbcf",
        defaults: {
            name: { value: "" },
            throwonfailure: { value: false },
            activecontrol: { type: "ac_config", required: true }
        },
        icon: "font-awesome/fa-thumbs-up",
        inputs: 1,
        outputs: 1,
        label: function () {
            return this.name || "AC: Approve Task";
        }
    });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="approve-task">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-throwonfailure" style="width: auto"><i class="fa fa-tag"></i> Throw exception on error message</label>
    <input type="checkbox" id="node-input-throwonfailure" style="display: inline-block; width: auto; margin-left: 30px">
  </div>
  <div class="form-row">
    <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
    <input type="text" id="node-input-activecontrol">
  </div>
</script>
<!-- help text -->
<script type="text/html" data-help-name="approve-task">
<p>Node to approve a single Business Task using the ActiveControl SOAP interface.</p>
<p>Can operate in two distinct modes depending on the shape of the input payload</p>
<ul>
    <li>Step mode (based on steps contained in table <strong>/BTI/TE_INT_LOC</strong>) </li>
    <li>Location mode, based on target ID and location - <strong>deprecated</strong></li>
</ul>
<p><strong>We strongly recommend to use the step based format which is much harder to abuse</strong></p>
<p>Configuration must be stored in a separate node.</p>
<h3>Inputs</h3>
<dl class="message-properties">
  <dt>payload<span class="property-type">object</span></dt>
  <dt>url<span class="property-type">string</span></dt>
  <dt>systemnumber<span class="property-type">string</span></dt>
  <dt>username<span class="property-type">string</span></dt>
  <dt>password<span class="property-type">string</span></dt>
  <dt>authorization<span class="property-type">string</span></dt>
  <dd>will override the default basic authentication</dd>
</dl>
<h3>Outputs</h3>
<dl class="message-properties">
  <dt>payload
      <span class="property-type">string | buffer</span>
  </dt>
</dl>
<h3>Description</h3>
<p>In step mode, takes an input payload like:</p>
<pre><code class="lang-json">
{
    "XReference": "mytaskref",
    "XStep": "qa_out",
    "XAnalysisMode": " "
}
</code></pre>
or 
<pre><code class="lang-json">
{
    "XStep": "qa_out",
    "XAnalysisMode": " ",
    "XTaskid": "10017001000000001942"
}
</code></pre>
Analysis mode could be any of:
<ul>
    <li>" " Default: run the analysis, approve when no errors are found</li>
    <li>"F" Force approval when allowed to ignore analysis results</li>
    <li>"N" Don't run any validation and force approval <strong>USE AT YOUR OWN RISK</strong></li>
</ul>

In location mode (again, <strong>USE AT YOUR OWN RISK</strong>) takes an input payload like:
<pre><code class="lang-json">
{
    "XAnalysisId": "12345678901234567890",
    "XLocation": "O",
    "XTarget": "0002",
    "XTaskid": "12345678901234567890",
    "XtRequest": [{"Trkorr":"DEVK000001"}]
}    
</code></pre>    
<h2 id="return-values">Return values</h2>
<p>On failure throws an exception, on success returns a message payload, depending on mode</p>
<p>in step mode looks like the following (when the approval is successful most of this will be empty, as they're mostly about analysis results)</p>
<p>Analysis results will have different shape and columns depending on outcome</p>
<pre style=""><code class="lang-json">
{
    "analysis": [
        {
            "locking": true,
            "headerText": "1 transport(s) are locked so cannot be approved/imported",
            "description": "The following transport forms have been locked to prevent approval or import",
            "group": 1,
            "columns": [
                {
                    "COLUMNID": 1,
                    "COLUMNNAME": "Locked Request",
                    "COLUMNWIDTH": 100,
                    "COLUMNTYPE": ""
                }
            ],
            "results": [
                {
                    "Locked Request": "D01K928316"
                }
            ]
        }
    ],
    "conflicts": [
        {
            "Strkorr": "D01K928316",
            "Reason": "04",
            "Trkorr": "",
            "Reldate": "0000-00-00",
            "Reltime": "00:00:00",
            "AllowConfirm": false,
            "AllowAdminConf": false,
            "AllowImport": false
        }
    ],
    "messages": [
        {
            "Msgtyp": "E",
            "Msgid": "",
            "Msgnum": "000",
            "Message": "Analysis prevented approval in QA1 ECC QA Outbox",
            "Msgv1": "",
            "Msgv2": "",
            "Msgv3": "",
            "Msgv4": "",
            "Exception": ""
        }
    ],
    "results": [
        {
            "Task": "10017001000000001942",
            "Reference": "mytaskref",
            "Target": "0027",
            "Location": "O",
            "Problems": true,
            "Canapprove": false,
            "Approved": false
        }
    ]
}
</code></pre>
<p>and in location mode:</p>
<pre style=""><code class="lang-json">
{
    "message": "Task Approved successfully"
}
</code></pre>   
</script>