<!-- definition  -->
<script type="text/javascript">
    RED.nodes.registerType("enter-test-results", {
    category: "ActiveControl",
    color: "#a6bbcf",
    defaults: {
      name: { value: "" },
      activecontrol: { type: "ac_config", required: true }
    },
    icon: "font-awesome/fa-flask",
    inputs: 1,
    outputs: 1,
    label: function () {
      return this.name || "AC: Test Results";
    }
  });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="enter-test-results">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
    <input type="text" id="node-input-activecontrol">
  </div>
</script>
<!-- help text -->
<script type="text/html" data-help-name="enter-test-results">
  <p>Simple node to enter test results using ActiveControl SOAP interface.</p>
  <p>Configuration must be stored in a separate node.</p>
 <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>payload<span class="property-type">object</span></dt>
    <dt>url<span class="property-type">string</span></dt>
    <dt>systemnumber<span class="property-type">string</span></dt>
    <dt>username<span class="property-type">string</span></dt>
    <dt>password<span class="property-type">string</span></dt>
    <dt>authorization<span class="property-type">string</span></dt>
    <dd>will override the default basic authentication</dd>
  </dl>
  <h3>Outputs</h3>
  <dl class="message-properties">
    <dt>payload
        <span class="property-type">string | buffer</span>
    </dt>
  </dl>
  <h3>Description</h3>
  <p>Takes an input payload like:</p>
  <pre><code class="lang-json">{
    <span class="hljs-attr">"XClose"</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">"XComment"</span>: <span class="hljs-string">"Problem found"</span>,
    <span class="hljs-attr">"XRescode"</span>: <span class="hljs-string">"1"</span>,
    <span class="hljs-attr">"XTarget"</span>: <span class="hljs-string">"0001"</span>,
    <span class="hljs-attr">"XTaskid"</span>: <span class="hljs-string">"10017001000000001942"</span>
  }</code></pre>
  <h2 id="closing-tests">Closing tests</h2>
  <p>When Xclose is true and XRescode is 0 the testseries is closed and the task moves down the path</p>
  <h2 id="result-codes">Result codes</h2>
  <ul>  
    <li>0 Testing successful</li>
    <li>1 Problem found</li>
    <li>2 Information</li>
    <li>3 Waiting</li>
    <li>4 Bypass testing</li>
  </ul>
  <h2 id="overriding-configuration">Overriding configuration</h2>
  <p>On failure throws an exception, on success returns a message payload like this:</p>
  <pre style=""><code>{
    "error": false,
    "message": "Test results successfully saved",
    "resultsId": "10017001000000002935",
    "taskId": "10017001000000001942"
  }</code></pre>   
</script>