<!-- definition  -->
<script type="text/javascript">
  RED.nodes.registerType("read-task-transports", {
    category: "ActiveControl",
    color: "#a6bbcf",
    defaults: {
      name: { value: "" },
      activecontrol: { type: "ac_config", required: true }
    },
    icon: "font-awesome/fa-file-text-o",
    inputs: 1,
    outputs: 1,
    label: function () {
      return this.name || "AC: Read Task Transports";
    }
  });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="read-task-transports">
    <div class="form-row">
      <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
      <input type="text" id="node-input-name" placeholder="Name" />
    </div>
    <div class="form-row">
      <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
      <input type="text" id="node-input-activecontrol">
    </div>
  </script>
<!-- help text -->
<script type="text/html" data-help-name="read-task-transports">
  <p>Node to read the Transport Forms, locations and custom fields of a single Business Task using the ActiveControl SOAP interface.</p>
  <p>The node accepts either a Task ID or a Task Reference. If the Reference is shared by several Business Tasks, an arbitrary Business Task is returned.</p>
  <p>The configuration must be stored in a separate node.</p>
 <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>payload<span class="property-type">object</span></dt>
    <dt>url<span class="property-type">string</span></dt>
    <dt>systemnumber<span class="property-type">string</span></dt>
    <dt>username<span class="property-type">string</span></dt>
    <dt>password<span class="property-type">string</span></dt>
    <dt>authorization<span class="property-type">string</span></dt>
    <dd>will override the default basic authentication</dd>
  </dl>
  <h3>Outputs</h3>
  <dl class="message-properties">
    <dt>payload
        <span class="property-type">string | buffer</span>
    </dt>
  </dl>
  <h3>Description</h3>
  <p>Takes an input payload like:</p>
  <pre><code class="lang-json">{
  "XTaskid": "10017001000000001942"
}
  </code></pre>
  <p>Or alternatively:</p>
  <pre><code class="lang-json">{
    "XTaskReference": "REF-234"
}
  </code></pre>  
  <h2 id="return-values">Return values</h2>
  <p>On failure throws an exception, on success returns a message payload like this:</p>
  <pre style=""><code class="lang-json">{
  "custFieldValues": [
    {
      "Trkorr": "D01K954711",
      "Fieldid": 500,
      "Caption": "Custom Field 4",
      "Value": "Hampton Hill"
    }
  ],
  "locations": [
    {
      "Trkorr": "D01K954711",
      "Target": "0008",
      "TargetSysid": "PR1",
      "Location": "O"
    }
  ],
  "taskIds": [
    {
      "Id": "10017102000000001942"
    }
  ],
  "transports": [
    {
      "Trkorr": "D01K954711",
      "Reqtext": "New Billing Program ECC",
      "Trstatus": "R",
      "Trfunction": "W",
      "Groupid": "10017100100000000011",
      "GroupDesc": "FICO",
      "Typeid": "10017100100000000011",
      "TypeDesc": "Workbench",
      "Requestor": "USER45",
      "Reqdate": "2020-05-13",
      "Reqtime": "10:00:00",
      "Reldate": "2021-01-01",
      "Reltime": "15:56:38",
      "Completed": false,
      "LastImportDate": "2021-01-17",
      "LastImportTime": "15:58:31",
      "LastImportTargetId": "0175",
      "LastImportTargetDesc": "ECC - Test",
      "Path": "02"
    }
  ]
}
  </code></pre>   
</script>